.main {
  margin: 80px 0px;
  /* width: 1240px; */
  height: 224px;
  border-radius: 20px;
  background: rgba(255, 229, 0, 1);
}

.btn {
  margin: 50px 0;
  width: 146px;
  height: 50px;
  border-radius: 26px;
  background: linear-gradient(96.48deg, #000000 -33.61%, #2e2e2e 93.04%);
  box-shadow: 0px 3px 15.5px 0px rgba(0, 0, 0, 1) inset;
}
